<mat-card class="form-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Add a course</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form #courseForm="ngForm" (ngSubmit)="onSubmit(courseForm)" class="">
            <mat-form-field class="">
              <mat-label>Course Code</mat-label>
              <input matInput placeholder="Enter course code" name="code" type="text" [(ngModel)]="formItem.code" required>
            </mat-form-field>

            <mat-form-field class="">
                <mat-label>Grade</mat-label>
                <input matInput placeholder="Enter your grade" name="grade" type="number" min="0" max="100" [(ngModel)]="formItem.grade" required>
            </mat-form-field>

            <mat-form-field class="">
                <mat-label>Unit</mat-label>
                <input matInput placeholder="Enter course unit" name="unit" type="number" min="1" [(ngModel)]="formItem.unit" required>
            </mat-form-field>

            <button class="accent" type="submit">Add</button>
          </form>
    </mat-card-content>
</mat-card>