@import "~@angular/material/theming";
@import '../../styles.scss';

.main-container {
    background-color: #082328;
}

header {
    // min-height: 10vh;
    width: 100%;
    box-shadow: 5px 3px 6px rgb(1, 20, 27);

    & mat-toolbar {
        min-height: 12vh;
        font-size: 1.5em;
        color: mat-color($mat-primary, default-contrast);
        background-color: darken(mat-color($mat-primary), 40%);
    }

    & .logo {
        width: 4em;
        margin-left: -1em;
        -moz-transform: rotate(-25deg);
        -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
}

main {
    min-height: 80vh;
    margin-top: 1em;
    margin-bottom: 1em;

    & .upper-row .col {
        display: flex;
        justify-content: center;
    }

    & .clear-btn {
        min-width: 100%;
        max-width: 520px;
    }
}

footer {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darken(white, 20%);
}