@import "~@angular/material/theming";
@import "../../styles.scss";

.view-courses{
    max-width: 520px;
    margin: 0 auto 0 auto;

    & table {
        width: 100%;
    }

    & .course-card-header {
        margin-bottom: 12px;
        
        & h3 {
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    & .clear-btn {
        width: 100%;
        margin-top: 1em;
        height: 3em;
        text-transform: uppercase;

        &:hover {
            background-color: darken(mat-color($mat-primary), 10%);
        }
    }
}

.mat-card {
    background-color: darken(mat-color($mat-primary), 40%);
    color: darken(white, 20%);
}