<mat-card class='view-courses'>
    <div class="container course-card-header">
        <div class="row px-0">
            <div class="col-6">
                <h3 class="course-title">Course Code</h3>
            </div>
            <div class="col-3">
                <h3 class="course-unit">Grade</h3>
            </div>
            <div class="col">
                <h3 class="course-grade">Unit</h3>
            </div>
        </div>
    </div>
    <mat-card-content >
        <div *ngIf="!courseList.length">
            <p>Added courses will be displayed here</p>
        </div>
        <div *ngIf="courseList.length" class="container w-100">
            <div *ngFor="let course of courseList">
                <app-course-item-card (click)="courseClicked(course)" (xButtonClicked)="deleteCourse(course)" [course]="course"></app-course-item-card>
            </div>
        </div>
        <button *ngIf="courseList.length" mat-raised-button color="primary" (click)="clear.emit()" class="clear-btn">Clear List</button>
    </mat-card-content>
</mat-card>