@import "~@angular/material/theming";
@import "../../styles.scss";

.cgpa-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.0em;
    margin-bottom: 1.0em;

    & .cgpa {
        font-size: 40px;
        margin-top: 0.6em;
        margin-bottom: 1.0em;
        text-shadow: 3px 3px 5px darken(mat-color($mat-primary), 40%);
    }

    & .grade-range {
        text-transform: uppercase;
        font-weight: 600;
    }

    & .grade-box {
        width: 100%;
        & .grade-inner-box {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}

.mat-card {
    border: 16px solid darken(mat-color($mat-primary), 40%);
    background-color: mat-color($mat-primary);
    border-radius: 2em;
    color: darken(white, 10%);
    height: 310px;
    width: 100%;
}